








p
{
    color: blue;

}

.contenedor {
    color: yellow;  /*Modifica el color de texto*/
    background-color: lightskyblue; /*Color de Fondo*/
    font-size: 40px; /* Tamaño de la Letra */
    font-family: sans-serif;
    border: 50px solid black; /*Ancho, Tipo de linea, Color*/
    padding: 40px; /*Espacio del elemento hacia los bordes*/
    border-radius: 10px;
    
}
.imagen{
    width: 250px;
    height: 250px;


}

.contenedor2 {
    color: black;  /*Modifica el color de texto*/
    background-color: lightskyblue; /*Color de Fondo*/
    font-size: 10px; /* Tamaño de la Letra */
    font-family: sans-serif;
    border: 20px solid black; /*Ancho, Tipo de linea, Color*/
    border-radius: 10px;
    padding: 40px; /*Espacio del elemento hacia los bordes*/
    width: 800px;
    height: 300px;

}